.scrollTable_container {
  .head {
    .head_item {
      background: rgb(251, 152, 152);
      padding: 15px 25px;
      color: white;
      border: 1px solid #cccccc;
      box-sizing: border-box;
      display: flex;
      align-items: center;
    }

    display: flex;
  }

  .wrapper {
    .body {
      .row {
        .row_item {
          background: rgb(88, 183, 238);
          padding: 15px 25px;
          color: white;
          border: 1px solid #cccccc;
          box-sizing: border-box;
          display: flex;
          align-items: center;
        }

        display: flex;
      }

      display: flex;
      flex-direction: column;
    }

    overflow: hidden;

  }

  display: flex;
  flex-direction: column;
}
